@import "../../styles//variables";

.appbar {
  display: flex;
  justify-content: space-between;

  .appbar-toolbar {
    background-color: $secondaryColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo-text {
  display: flex;
  align-items: center;

  .sdmb-logo-box {
    width: 60px;
    height: 60px;
    margin-right: 20px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .firmen-name {
    font-weight: bold;
    font-size: 2rem;
  }
}

.nav-menu-item {
  color: $primaryColor;
  opacity: .7;
  transition: ease-in-out .4s;
  
  &:hover {
    cursor: pointer;
    opacity: 1;
    font-weight: bold;
    transform: scale(1.1);

  }
}
